package label

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Label(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <label { p.AsTemplAttrs()... }>
        { children... }
    </label>
}
