package container

import (
    "github.com/Deirror/templette/components/card"
    "github.com/Deirror/templette/components/semantic/nav"
)

templ ContainerCard() {
    @card.Card(pCard) {
        { children... }
    }
}

templ ContainerNav() {
    @nav.Nav(pNav) {
        { children... }
    }
}
