package progress

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Progress(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <progress { p.AsTemplAttrs()... }>
        { children... } 
    </progress>
}


