package card

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Card(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <div { p.AsTemplAttrs()... }>
        { children... }
    </div>
}
