package input

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Input(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <input { p.AsTemplAttrs()... } />
}
