package button

templ Button(p Props) {
    if p.Href != "" {
        <a {{ raw(p.AsAttrs().HTML()) }}>
            { children }
        </a>
    } else {
        <button {{ raw(p.AsAttrs().HTML()) }}>
            { children }
        </button>
    }
}

