package button

templ Button(p Props) {
    if p.Href != "" {
        <a { p.AsTemplAttrs()... }>
            { children... }
        </a>
    } else {
        <button { p.AsTemplAttrs()... }>
            { children... }
        </button>
    }
}

