package audio

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Audio(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <audio { p.AsTemplAttrs()... }>
        { children... } 
    </audio>
}


