package form

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Form(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <form { p.AsTemplAttrs()... }>
        { children... }
    </form>
}
