package article

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Article(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <article { p.AsTemplAttrs()... }>
        { children... }
    </article>
}


