// Copyright 2025 Deirror. All rights reserved.
// Use of this source code is governed by a MIT-style
// license that can be found in the LICENSE file.
package option

import ( 
    "github.com/Deirror/templette/element"
    "github.com/Deirror/templette/props"
)

templ Option(ps ...Props) {
    {{ p := props.FirstOrDefault(Props{}, ps...) }}

    @element.Element(element.Option, &p) {
        { children... }
    }
}
