package option

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Option(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <option { p.AsTemplAttrs()... }>
        { children... }
    </option>
}
