package layout

templ Page(p Props) {
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{p.Title}</title>

    for _, css := range p.CSS {
        <link rel="stylesheet" href={css} />
    }

    if p.UseHTMX {
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    }
</head>
<body>
    { children }
</body>
</html>
}

