package centred_box

import (
	"github.com/Deirror/templette/components/card"
)

templ CentredBox() {
    @card.Card(widthProps) {
        { children... }
    }
}

templ FullWidthCentredBox() {
    @card.Card(fullWidthProps) {
        { children... }
    }
}
