package fluid

import (
    "github.com/Deirror/templette/components/card"
    "github.com/Deirror/templette/components/semantic/nav"
)

templ FluidCard() {
    @card.Card(cardProps) {
        { children... }
    }
}

templ FuildNav() {
    @nav.Nav(navProps) {
        { children... }
    }
}
