package section

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Section(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <section { p.AsTemplAttrs()... }>
        { children... }
    </section>
}

