package video

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Video(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <video { p.AsTemplAttrs()... }>
        { children... } 
    </video>
}

