package textarea

import (
    propsx "github.com/Deirror/templette/props"
)

templ Textarea(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <textarea { p.AsTemplAttrs()... }>
        { children... }
    </textarea>
}


