package field

import (
    "github.com/Deirror/templette/components/label"
    "github.com/Deirror/templette/props"
)

templ Field(p Props) {
    <div { p.AsTemplAttrs()... }>
        @label.Label(label.Props{ 
            Attrs: props.NewAttrs().WithClass("field-label"),
        }) {
            { p.Label }
        }

        { children... }
    </div>
}

