package figure

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Figure(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <figure { p.AsTemplAttrs()... }>
        { children... }
    </figure>
}

