package grid

import (
    "github.com/Deirror/templette/components/card"
    "github.com/Deirror/templette/components/semantic/nav"
)

templ GridCard() {
    @card.Card(pCard) {
        { children... }
    }
}

templ GridNav() {
    @nav.Nav(pNav) {
        { children... }
    }
}
