// Copyright 2025 Deirror. All rights reserved.
// Use of this source code is governed by a MIT-style
// license that can be found in the LICENSE file.
package html

import (
    "github.com/Deirror/templette/element"
    "github.com/Deirror/templette/props"
)

templ HTML(ps ...Props) {
    {{ p := props.FirstOrDefault(Props{}, ps...) }}

    <!DOCTYPE html>
    @element.Element(element.HTML, &p) {
        { children... }
    }
}
