package group

import (
	"github.com/Deirror/templette/components/fieldset"
	"github.com/Deirror/templette/components/card"
)

templ GroupFieldset() {
    @fieldset.Fieldset(fieldsetProps) {
        { children... }
    }
}

templ GroupCard() {
    @card.Card(cardProps) {
        { children... }
    }
}
