package mainer // Renamed due to 'main' being reserved

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Main(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <main { p.AsTemplAttrs()... }>
        { children... }
    </main> 
}

