package header

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Header(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <header { p.AsTemplAttrs()... }>
        { children... }
    </header> 
}

