package select_

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Select(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <select { p.AsTemplAttrs()... }>
        { children... }
    </select>
}
