package details

import ( 
    propsx "github.com/Deirror/templette/props"
)

templ Details(props ...Props) {
    {{ p := propsx.FirstOrDefault(Props{}, props...) }}

    <details { p.AsTemplAttrs()... }>
        { children... }
    </details>
}

