package dark_overlay

import (
    "github.com/Deirror/templette/components/card"
)

templ DarkOverlayCard() {
    @card.Card(darkProps) {
        { children... }
    }
}

templ SoftDarkOverlayCard() {
    @card.Card(softDarkProps) {
        { children... }
    }
}
